
.LeftB{
    float: left;
}

.RightB{
    float:right;

}

img {
    height: max-content;
    width: 100%;
    position: inherit;
    left: 0%;
    right: 0%;
    top: -1cm;
    bottom: 50px;
}

.video_back {
    width: 1200px;
    height: 650px;
    position: relative;
    left: 20%;
    right: 50%;
    top: 17.6%;
    bottom: 71.32%;
    z-index: auto;
    text-align: center;
    object-fit: fill;
}
#parent{
    position:relative;
}

p.serif{ 
    font-family: 'EB Garamond';
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 49px;
    text-align:justify;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 5px;
}

p.mid{font-family: 'EB Garamond';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 28px; 
    text-align:center;

}


/* central team signature */
#team {
    text-align: center;
}

.pic{
    position:absolute;
    left: 0%;
    right: 0%;
    top: -60px;
    bottom: 70%;
}


.welcome {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 60%;
    bottom: 24.91%;
    color:black;
}

.welcome p {
    font-family: 'IBM Plex Serif';
    font-style: italic;
    font-weight: 600;
    font-size: 96px;
    line-height: 125px;
    text-align: center;

color: #000000;
}

h1.cen{margin-left:150px;
       margin-right:80px;
       margin-top:30px;
       margin-bottom: 15px;
       font-size:50px;
       font-weight: bold}

.nav {
    background-color: #b2e2dc;
    height: 90px;
    width: 1920px;
    left: 0;
    top: 0;
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
}

.nav-header-text {
    background-color: #e3f9ee;
    font-size: 35px;
    font-style: italic;
    height: fit-content;
    padding: 5px;
    border-radius: 5px;
    border: none;
    z-index:10;
    margin-top: 18px
}

.login-button {
    font-size: 35px;
    font-weight: bold;
    background-color: #e3f9ee;
    height: fit-content;
    padding: 5px;
    border-radius: 5px;
    border: none;
    z-index:10;
    margin-top: 18px
}
* {
    font-family: "EB Garamond";
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: inherit;
}

.encourage-messages {
    background-color: #BDDDDB;
    width: 1920px;
    height: 70px;
    box-sizing: inherit;
    padding-left: 20px;
    padding-right: 20px;
}

.encourage-messages p {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 3em;
}

body {
    width: 1920px;
    height: 1080px;
    font-family: "EB Garamond";
    background-color:#E3F9EE
}

.poster {
    background-color: #bfece9;
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    
    /* relative for the text location */
    position: relative;
}

.poster img {
    text-align: center;
}

.poster-image-text {
    position: absolute;
    bottom: 0;
    font-size: 4.8rem;
    font-style: italic;
    font-weight: bold;
    left: 15%;
}

.main-text {
    background-color: #e3f9ee;
    padding-top: 30px;
    padding-bottom: 30px;
}

.paragraph {
    font-size: 1.7rem;
    font-weight: bold;
    line-height: 200%;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5px;
    padding-bottom: 5px;
}

.labels {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    color: #296194;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.label {
    width: 50%;
    padding-bottom: 20px;
    padding-left: 20px;
}

.labels .label-title {
    font-size: 3rem;
    font-weight: bold;
}

.labels .label-text {
    font-size: 1.5rem;
    padding-top: 5px;
}

footer {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 30px;
}

footer .team-name {
    font-size: 1.8rem;
    font-weight: bold;
    padding-bottom: 15px;
}

footer .team-member {
    font-size: 1.5rem;
}




