
body {
    width: 1920px;
    height: 1080px;
    font-family: "EB Garamond";
    background-color:#E3F9EE
}

.insulin img{
    position: absolute;
    left: 4.8%;
    right: 86.13%;
    top: 25.25%;
    bottom: 70.32%; 
    height: 50px;



}
    