

body {
    width: 1920px;
    height: 1080px;
    font-family: "EB Garamond";
    background-color:#E3F9EE
}


a{
    text-decoration: none;
}

.encourage p {
    text-align: center;
    color: #000000;
    background: #BDDEDB;
    background-position: 20%;
    background-size: 50% auto;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 20px;
    border-width: ;
}

.encourage  p {
    position:absolute;
    left: 4.8%;
    right: 5.07%;
    top: 15%;
    bottom: 95%;


}
.profile img{
    position: absolute;
    margin: 0;
    width: 200px;
    left: 45%;
    right: 22.13%;
    top: 35%;
    bottom: 62.56%;

}

p {

    font-family: 'Quando';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
/* identical to box height */

    text-align: center;
    color: #000000;
    background: #D3F3D8;
    background-position: 20%;
    background-size: 50% auto;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 20px;




}
.Record{
    position: absolute;
left: 42.6%;
right: 42.6%;
top: 50%;
bottom: 50.62%;


}
    
.View {
    position: absolute;
    left: 42.6%;
    right: 42.6%;
    top: 60%;
    bottom: 38.79%;
}
.Rank {
    position: absolute;
    left: 42.6%;
    right: 42.6%;
    top: 70%;
    bottom: 38.79%;
}
.Profile {
    position: absolute;
    left: 42.6%;
    right: 42.6%;
    top: 80%;
    bottom: 38.79%;
}
.profile p {
    position: absolute;
    left: 45%;
    right: 45.07%;
    top: 45%;
    bottom: 58.25%;

font-family: 'Quando';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 30px;
/* identical to box height */

text-align: center;

color: #000000;


}


/*Recording Data*/

.insulin img {
    position: absolute;
    left: 4.8%;
    right: 86.13%;
    top: 25.25%;
    bottom: 70.32%;
}
.blood img {
    position: absolute;
    left: 3.47%;
    right: 84.53%;
    top: 42.12%;
    bottom: 53.08%;
}
.weight img {
    position: absolute;
    left: 6.67%;
    right: 85.87%;
    top: 58.37%;
    bottom: 38.18%;
}
.exercise img {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 29px;
    top: 615px;
}
.encourage {
    position: absolute;
    left: 4.8%;
    right: 5.07%;
    top: 15%;
    bottom: 12.5%;

    font-family: 'Salsa';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
}
.date {
    position: absolute;
    left: 26.13%;
    right: 25.87%;
    top: 14.16%;
    bottom: 79.56%;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
}
.label1 {
    position: absolute;
    left: 13.87%;
    right: 15.2%;
    top: 21.18%;
    bottom: 73.28%;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    text-indent: 1px;
}
.label2 {
    position: absolute;
    left: 16.53%;
    right: 41.87%;
    top: 28.08%;
    bottom: 69.95%;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}
.label3 {
    position: absolute;
    left: 16.53%;
    right: 59.73%;
    top: 31.28%;
    bottom: 66.13%;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
}
