
.top{
    /* 设置宽度高度背景颜色 */
    height: 10; /*高度改为自动高度*/
    width:100%;
    margin-left: 0;
    background:#B2E2DC;
    position: fixed; /*fixed on the top*/
    top: 0;/*离顶部的距离为0*/
    margin-bottom: auto;
}
.top lif a{
   /* 设置链接内容显示的格式*/
    display: block; /* 把链接显示为块元素可使整个链接区域可点击 */
    color:black;
    text-align: start;
    padding: 3px;
    overflow: hidden;
    text-decoration: none; /* 去除下划线 */

}
.top lir a{
   /* 设置链接内容显示的格式*/
    display: block; /* 把链接显示为块元素可使整个链接区域可点击 */
    color:black;
    text-align: left;
    padding: 3px;
    overflow: hidden;
    text-decoration: none; /* 去除下划线 */

}
.top li a{
   /* 设置链接内容显示的格式*/
    display: block; /* 把链接显示为块元素可使整个链接区域可点击 */
    color:black;
    text-align: right;
    padding: 3px;
    overflow: hidden;
    text-decoration: none; /* 去除下划线 */

}
.top lif {
    float:left; /* 使li内容横向浮动，即横向排列  */
    margin-right:2%;  /* 两个li之间的距离*/
    position: relative;
    overflow: hidden;
}
.top lir{
    float:right; /* 使li内容横向浮动，即横向排列  */
    margin-right:2%;  /* 两个li之间的距离*/
    position: relative;
    overflow: hidden;
}
.top li{
    float:right; /* 使li内容横向浮动，即横向排列  */
    margin-right:2%;  /* 两个li之间的距离*/
    position: relative;
    overflow: hidden;
}
.top lir :hover{
/* 鼠标选中时背景变为浅绿色 */
     background-color: #E3F9EE;
}
.top lif :hover{
/* 鼠标选中时背景变为浅绿色 */
     background-color: #E3F9EE;
}

body {background-color:#E3F9EE} 

.LeftB{
    float: left;
    width: 750px;
    height: 90px;
    left: 74px;
    top: 820px;
}

.RightB{
    float:right;
    width: 700px;
    height: 90px;
    left: 1144px;
    top: 820px;
}

Button {
    position: absolute;
    background: #C4F0E4;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);

}


