
.top{
    /* 设置宽度高度背景颜色 */
    height: 43; /*高度改为自动高度*/
    width:100%;
    margin-left: 0;
    background:#B2E2DC;
    position: fixed; /*fixed on the top*/
    left: 0;
    top: 0;/*离顶部的距离为0*/
    margin-bottom: auto;
    z-index: 10;
}
.top lif a{
   /* 设置链接内容显示的格式*/
    display: block; /* 把链接显示为块元素可使整个链接区域可点击 */
    color:black;
    text-align: start;
    padding: 3px;
    overflow: hidden;
    text-decoration: none; /* 去除下划线 */

}
.top lir a{
   /* 设置链接内容显示的格式*/
    display: block; /* 把链接显示为块元素可使整个链接区域可点击 */
    color:black;
    text-align: left;
    padding: 3px;
    overflow: hidden;
    text-decoration: none; /* 去除下划线 */

}
.top li a{
   /* 设置链接内容显示的格式*/
    display: block; /* 把链接显示为块元素可使整个链接区域可点击 */
    color:black;
    text-align: right;
    padding: 3px;
    overflow: hidden;
    text-decoration: none; /* 去除下划线 */

}
.top lif {
    float:left; /* 使li内容横向浮动，即横向排列  */
    margin-right:2%;  /* 两个li之间的距离*/
    position: relative;
    overflow: hidden;
}
.top lir{
    float:right; /* 使li内容横向浮动，即横向排列  */
    margin-right:2%;  /* 两个li之间的距离*/
    position: relative;
    overflow: hidden;
}
.top li{
    float:right; /* 使li内容横向浮动，即横向排列  */
    margin-right:2%;  /* 两个li之间的距离*/
    position: relative;
    overflow: hidden;
}
.top lir :hover{
/* 鼠标选中时背景变为浅绿色 */
     background-color: #E3F9EE;
}
.top lif :hover{
/* 鼠标选中时背景变为浅绿色 */
     background-color: #E3F9EE;
}

.topbutt {

}


body {background-color:#E3F9EE} 


.LeftB{
    float: left;
}

.RightB{
    float:right;

}

img{height: auto; width: auto\9; width:100%;} 

.top lir :hover{
/* 鼠标选中时背景变为浅绿色 */
     background-color: #E3F9EE;
}
.top lif :hover{
/* 鼠标选中时背景变为浅绿色 */
     background-color: #E3F9EE;
}

body {background-color:#E3F9EE} 

.video_back {
    width: 1080px;
    height: 640px;
    
    position: relative;
    left: 23%;
    right: 50%;
    top: 17.6%;
    bottom: 71.32%;

    z-index: auto;
    text-align: center;
    object-fit: fill;

}
#parent{
    position:relative;
}


p.serif{ 
    font-family: 'EB Garamond';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 45px;
    text-align:justify;
    margin:60px;
}

p.mid{font-family: 'EB Garamond';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 28px; 
    text-align:center;

}


.abd {
    width:200px;
    height:200px;

}
.abd p{
    width:250px;
    margin:auto
}

/* central team signature */
#team {
    text-align: center;
}

/* font */
* {font-family: "EB Garamond"}

.button ul {
    list-style-type:none;
    position: absolute;
    width: 100%;
    height: 80px;
    left: -3%;
    top: 75%;

    font-family: 'Quando';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    font-size: 60px;
    line-height: 80px;
    /* identical to box height */
    color: #2978C1;
}

.button ul a{ 
    text-decoration: none;
    width: 20%;
    text-decoration: none;
    color:inherit;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
    background-color: #c4f0e4;
}



.welcome {
    position: absolute;
    left: 0%;
    color:black;

}



.pic{
    position:absolute;
    left: 0%;
    right: 0%;
    top: -60px;
    bottom: 70%;
}


.welcome {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 55%;
    bottom: 24.91%;
}

.welcome p {
    font-family: 'IBM Plex Serif';
    font-style: italic;
    font-weight: 600;
    font-size: 80px;
    line-height: 125px;
    text-align: center;

color: #000000;
}

h1.cen{margin:40px;
       font-size:70px}