<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
  </head>
  <body>
    <div class="headerbar">
      <p class="lightgreen">Diabetes@Home</p >
      <img src="../public/img/sun.png" />
      
      <img src="../public/img/moon.png" />
      <link href="https://fonts.googleapis.com/css2?family=Ranga&display=swap" rel="stylesheet">
    </div>
    <main class="container">
      {{{body}}}
    </main>
  </body>
</html>