<head>
    <title>Cliniciandashboard</title>
</head>
<body>
<div class="box">
        <div class="box_left_aaa">
            <div>
                <img src="./static/nav/1.png" alt="">
            </div>
            <div>
                <img src="./static/nav/2.png" alt="">
            </div>
            <div>
                <img src="./static/nav/3.png" alt="">
            </div>
            <div>
                <img src="./static/nav/4.png" alt="">
            </div>
            <div>
                <img src="./static/nav/5.png" alt="">
            </div>
        </div>
        <div class="box_right_aaa">

            <div class="tabBal">
                <table border="2" style="border-collapse: collapse;">
                    <tr class="tt_a">
                        <td style="width:200px">Name</td>
                        <td style="width:100px">Age</td>
                        <td style="width:200px">Weight (kg)</td>
                        <td style="width:200px">Blood Glucose Level(Nmol/L)</td>
                        <td style="width:250px">Exercise(Step count)</td>
                        <td style="width:250px">Insulin Taken(Times)</td>
                    </tr>


</body>