<div class="content">
    <div class="con_left">
        <img src="../demo/image/5.png" alt="">
    </div>
    <div class="con_right">
        <div class="right_box1">
            <div class="box_a"><img src="../demo/image/1.png" alt="">&nbsp; DASHBOARD</div>
            <div class="box_a"><img src="../demo/image/3.png" alt="">&nbsp; PROFILE</div>
        </div>
        <div class="right_box2">
            <div class="box_a"><img src="../demo/image/4.png" alt="">&nbsp; CLINICAL NOTES</div>
            <div class="box_a"><img src="../demo/image/2.png" alt="">&nbsp; CREATE ACCOUNT</div>
        </div>
        <div class="right_box3">
            <div class="box_b"><img src="../demo/image/6.png" alt="">&nbsp; MONITORING COMMENTS</div>
        </div>
    </div>
</div>
