<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recording Data</title>
    <link rel="stylesheet" href="StylesheetPatient.css">
  
</head>
<body>

    <div class = 'encourage'>
        <p>Doctor Zhang : “You can do it!”</p>
    </div>
    <div class = "profile">
        <img src="Profile.png" alt="Profile">
        <p>Pat</p>
    </div>
<br>
    <div class="Record">
       <a href="Patientrecord.html"><p>Record</p></a>
    </div>
    <div class="View">
        <a href="Patientview.html"><p>  View  </p></a>
    </div>
    <div class="Rank">
        <a href="Patientrank.html"><p>  Rank</p></a>
    </div>
    <div class="Profile">
        <a href="Patientprofile.html"><p>Profile</p></a>
    </div>


    </body>
</body>
</html>