<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Health Data</title>
    <link rel="stylesheet" href="Stylesheet.css" type="text/css">
</head>
<body>
    <div class="header">
        <nav class="nav">
            <button class="nav-header-text" onclick="location.href='Patientdashboard.html'">
                Diabetes@Home
            </button>
            <button class="login-button">
                Log In
            </button>
        </nav>
        <div class="encourage-messages">
            <p>Doctor Zhang : “You can do it!”</p>
        </div>
    </div>

    <div class="data-content">
        <div class="left-nav">
        </div>
        
        <div class="right-health-data">
    
            <table class="health-data">
                <thead>
                <tr>
                        <th>Date</th>
                        <th>Weight(kg)</th>
                        <th>Blood Glucose Level(nmol/L)</th>
                        <th>Exercise(Steps)</th>
                        <th>Insulin Taken(Doses)</th>
                </tr>
                </thead>
                <tr>
                        <td class="item1">17/03/2022</td>
                        <td class="item2">52</td>
                        <td class="item3">7200500</td>
                        <td class="item4">2000</td>
                        <td class="item1">2</td>
                </tr>
                <tr>
                    <td>16/03/2022</td>
                    <td>52</td>
                    <td>7200000</td>
                    <td>3006</td>
                    <td>2</td>
                </tr>
                <tr>
                    <td>15/03/2022</td>
                    <td>52.5</td>
                    <td>7200000</td>
                    <td>2308</td>
                    <td>2</td>
                </tr>
                <tr>
                    <td>14/03/2022</td>
                    <td>53</td>
                    <td>7100500</td>
                    <td>3350</td>
                    <td>2</td>
                </tr>
                <tr>
                    <td>13/03/2022</td>
                    <td>52</td>
                    <td>7200000</td>
                    <td>3006</td>
                    <td>2</td>
                </tr>
                <tr>
                    <td>11/03/2022</td>
                    <td>52</td>
                    <td>7200000</td>
                    <td>3006</td>
                    <td>2</td>
                </tr>
                <tr>
                    <td>10/03/2022</td>
                    <td>52</td>
                    <td>7200000</td>
                    <td>3006</td>
                    <td>2</td>
                </tr>
                <tr>
                    <td>09/03/2022</td>
                    <td>52</td>
                    <td>7200000</td>
                    <td>3006</td>
                    <td>2</td>
                </tr>
                <tr>
                    <td>08/03/2022</td>
                    <td>52</td>
                    <td>7200000</td>
                    <td>3006</td>
                    <td>2</td>
                </tr>
                <tr>
                    <td>07/03/2022</td>
                    <td>52</td>
                    <td>7200000</td>
                    <td>3006</td>
                    <td>2</td>
                </tr>
                <tr>
                    <td>06/03/2022</td>
                    <td>52</td>
                    <td>7200000</td>
                    <td>3006</td>
                    <td>2</td>
                </tr>
                <tr>
                    <td>05/03/2022</td>
                    <td>52</td>
                    <td>7200000</td>
                    <td>3006</td>
                    <td>2</td>
                </tr>
                <tr>
                    <td>04/03/2022</td>
                    <td>52</td>
                    <td>7200000</td>
                    <td>3006</td>
                    <td>2</td>
                </tr>
                <tr>
                    <td>03/03/2022</td>
                    <td>52</td>
                    <td>7200000</td>
                    <td>3006</td>
                    <td>2</td>
                </tr>
                <tr>
                    <td>02/03/2022</td>
                    <td>52</td>
                    <td>7200000</td>
                    <td>3006</td>
                    <td>2</td>
                </tr>
                <tr>
                    <td>01/03/2022</td>
                    <td>52</td>
                    <td>7200000</td>
                    <td>3006</td>
                    <td>2</td>
                </tr>

            </table>
        </div>
    </div>
    <p>View comments by clicking the date</p>

    <div class="view-chart">
        <button class="view-button">View</button>
        <p>View Data On Chart</p>
    </div>

    <footer>
        <div class="footer">
            <div class="team_name">
                Team Sugar-free
            </div>
            <div class="team_member">
                Wenwen Zhang, Xiaohan Guo, Jiawei Niu, Shiyuan Tan, Xinghon Lu
            </div>
        </div>
    </footer>
    
</body>
</html>