<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Setting</title>
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="Stylesheetsetting.css" type="text/css">    
</head>
<body>
    <h1>Doctor Chris : “You can do it!”</h1>
    <img class="circleImg" src="setting.png" alt="Profile"/>

    <image class="camera" src="camera.png" alt="camera">
    <h4>Click to change</h4>

    
</body>
</html>