<form action="/clinicians/listClinicalNotes" method="GET"></form>
<div class="sidenav">
    <img src="/img/Group-44.png" />
    <p >{{doctor.firstName}}</p >

    <img src="/img/icons8-dashboard-64.png" />
    <p><a href="/clinicians/dashboard">Dashboard</a></p >

    <img src="/img/list-dash-header.png" />
    <p><a href="/clinicians/list of clinical notes">Note</a></p >

    <img src="/img/Comment-1.png" />
    <p><a href="clinicians/checkComment">Comment</a></p >

    <img src="/img/icons8-add-user-male-96.png" />
    <p><a href="/clinicians/createProfile">Create</a></p >

    <img src="/img/icons8-search-account-64.png" />
    <p><a href="/clinicians/profile">Profile</a></p >
</div>
<div class="ClinicalNote"> 
    Clinical Notes
</div>
<div class="clinical_box2">
    <div >Patient Name: </div>
    <div class="clinical_box">David Li</div>
    <div > </div>
</div>
<ul>
{{#each clinical}} //更改clinical 的数据库名字//
<div class="two_a">
    <div class="two_aa">{{this.recordedDate}}</div>
        <li class="list_of_notes">{{this}}</li>
</div>        
{{/each}}
</ul>
<button class="send">Add New</button>
