<div class="sidenav">
    <img src="/img/Group-44.png" />
    <p onClick="location.href='/clinicians/home'">{{doctor.firstName}}</p >

    <img src="/img/icons8-dashboard-64.png" />
    <p onClick="location.href='/clinicians/dashboard'">Dashboard</p >

    <img src="/img/Comment-1.png" />
    <p onClick="location.href='/clinicians/checkComment'">Comment</p >

    <img src="/img/icons8-add-user-male-96.png" />
    <p onClick="location.href='/clinicians/createProfile'">Create</p >

    <img src="/img/icons8-search-account-64.png" />
    <p onClick="location.href='/clinicians/profile'">Profile</p >
    <form method="POST" action="/clinicians/logout">
    <button>Log out</button>
    </form>
</div>
{{#if message}} <p>{{message}}</p > {{/if}}
<form action="/clinicians/updatePassword" method="POST">
    <div class="login_box">
        <p class="title">Update Password</p>
        <link href="https://fonts.googleapis.com/css2?family=Quattrocento+Sans:wght@700&display=swap" rel="stylesheet">
        <div class="Ipt"><label for="oldPassword" class="changepwd"><input type="password" name="oldPassword" placeholder="Enter old password here" required></label></div> 
        <div class="Ipt"><label for="newPassword" class="changepwd"><input type="password" name="newPassword" placeholder="Enter new password here" required></label></div>
         <div class="Ipt"><label for="newPassword" class="changepwd"><input type="password" name="confirmPassword" placeholder="Enter confirm password here" required></label></div>
        <div class="golog"><input type="submit" value="Submit" /></div>
    </div>
</form>