<head>
  <title>Clinician Dashboard</title>
</head>

<body>


<form>
  <input type="checkbox" checked="checked" id="bgl_checkbox" value="bgl_checkbox">
  <label for="bgl_checkbox"> Blood Glucose Level</label><br>
  <input type="checkbox" checked="checked" id="doit_checkbox" value="doit_checkbox">
  <label for="doit_checkbox"> Insulin Taken</label><br>
  <input type="checkbox" checked="checked" id="weight_checkbox" value="weight_checkbox">
  <label for="weight_checkbox">Weight</label><br>
  <input type="checkbox" checked="checked" id="exercise_checkbox" value="exercise_checkbox">
  <label for="exercise_checkbox">exercise</label><br><br>
  <input type="submit" value="Submit">
</form>

</body>