<head>
  <div class="header">
    <p class="left lightgreen">Diabetes@Home (Clinicians)</p >
  </div>
</head>

<body>
  <div class="sidenav">
    <img src="/img/Group-44.png" />
    <p>Chris</p >

    <img src="/img/icons8-dashboard-64.png" />
    <p>Dashboard</p >

    <img src="/img/list-dash-header.png" />
    <p>Note</p >

    <img src="/img/Comment-1.png" />
    <p>Comment</p >

    <img src="/img/icons8-add-user-male-96.png" />
    <p>Create</p >

    <img src="/img/icons8-search-account-64.png" />
    <p>Profile</p >
  </div>

  <div class="main">
    <table border="2" style="border-collapse: collapse;">
        <thead style="width:200px; background-color:#9CD9DE">
            <th>Patient Name</th>
            <th>Blood Glucose Level(/L)</th>
            <th>Insulin Taken(Times)</th>
            <th>Weight (kg)</th>
            <th>Exercise(Step count)</th>
        </thead>
        <tbody>
              <form action="/clinicians/dashboard" method="GET">             
                <tr>
                  <td >{{record.patientID.userName}}</td>
                  {{#each record.data}} 
                  {{#ifUnrecorded this.status}}
                  <td style = "color: #bb1f1f">Missing</td>
                  {{/ifUnrecorded}}
                  <td style="background-color:
                    {{#ifOutSideThresholds this.status this.value this.minThreshold this.maxThreshold}}
                    red
                    {{else}}
                    {{#ifNoneed this.status}}
                    grey
                    {{/ifNoneed}}
                    {{/ifOutSideThresholds}}
                    ;">
                    {{this.value}}
                  {{/each}}
                  </td>
                  
                </tr>
              </form>
        </tbody>
    </table>
  </div>
</section>