<div class="box_right_aaa">
    <form action="clinicians/messages" method="POST">
    <div class="sidenav">
        <img src="/img/Group-44.png" />
        <p >{{doctor.firstName}}</p >

        <img src="/img/icons8-dashboard-64.png" />
        <p><a href="/clinicians/dashboard">Dashboard</a></p >

        <img src="/img/list-dash-header.png" />
        <p><a href="/clinicians/list of clinical notes">Note</a></p >

        <img src="/img/Comment-1.png" />
        <p><a href="clinicians/checkComment">Comment</a></p >

        <img src="/img/icons8-add-user-male-96.png" />
        <p><a href="/clinicians/createProfile">Create</a></p >

        <img src="/img/icons8-search-account-64.png" />
        <p><a href="/clinicians/profile">Profile</a></p >
    </div>
    <div class="title"> 
        Support Message
    </div>
    <div class="pn_box2">
        <div >Patient Name: </div>
        <div class="pp_box">{{doctor.patients.patientIDs.patientName}}</div>
    
    </div>

    <div class="textarea" style="width: 30%;">
        <input type="hidden" name="patientId" value="{{doctor.patients.patientID}}">
        <textarea name="supportMessage" id="supportMessage" form="messageForm" placeholder="Enter Support Message"></textarea>
        <script>
            $("#supportMessage").emojioneArea()
        </script>
    </div>
    <div class="textarea_footer">less than 50 words.</div>
    <button type="submit"> Send </button>
    </form>
</div>

<script>
// Recreates the unordered list with new messages
//function recreate_list(messages) {
//    const list = document.querySelector('ul')
//    const newList = document.createElement('ul')
//    for (const message of messages) {
//    const li = document.createElement('li')
//    li.innerHTML = message
//    newList.appendChild(li)
//    }
//    list.replaceWith(newList)
//}
// Send new message and handle response
function new_message() {
    const text = document.querySelector('input[name="message"]')
    // Create POST payload
    const formData = new URLSearchParams()
    formData.append('message', text.value)
    fetch('clinicians/messages', {
    method: 'POST',
    body: formData,
    })
    .then(res => res.json())
    .then(data => recreate_list(data))
    return false
}
document.onreadystatechange = function () {
    if (document.readyState === 'interactive') {
    document.querySelector('form').onsubmit = new_message
    }
}
</script>
