<head>
  <div class="header">
    <p class="left lightgreen">Diabetes@Home (Clinicians)</p >
  </div>
</head>
<section>
  <div class="sidenav">
    <div>
      <img src="/img/icons8-dashboard-64.png" />
      <p>Dashboard</p>
    </div>

    <div>
      <img src="/img/list-dash-header.png" />
      <p>Note</p>
    </div>

    <div>
      <img src="/img/Comment-1.png" />
      <p>Comment</p>
    </div>

    <div>
      <img src="/img/icons8-add-user-male-96.png" />
      <p>Create</p>
    </div>

    <div>
      <img src="/img/icons8-search-account-64.png" />
      <p>Profile</p>
    </div>

  </div>
  <div class="main">
    <table border="2" style="border-collapse: collapse;">
        <thead>
            <th style="width:200px">Name</th>
            <th style="width:200px">Blood Glucose Level(Nmol/L)</th>
            <th style="width:250px">Insulin Taken(Times)</th>
            <th style="width:250px">Exercise(Step count)</th>
            <th style="width:200px">Weight (kg)</th>
        </thead>
        <tbody>
            {{#each record.data}}
              <form action="/clinicians/dashboard" method="GET">
                <tr>
                  <td >{{record.patientID.userName}}</td>
                  <td style="background-color:
                    {{#ifOutsidethresholds this.status this.value this.minThreshold this.maxThreshold}}
                    red
                    {{#ifUnrecorded this.status}}
                    yellow
                    {{else}}
                    grey
                    {{/ifUnrecorded}}
                    {{/ifOutsidethresholds}}
                    ;">
                    {{this.value}}
                  </td>
                </tr>
              </form>
            {{/each}}
        </tbody>
    </table>
  </div>
</section>
            

