<body>
  <form action="/clinicians/createProfile" method="POST">
  <div class="sidenav">
    <img src="/img/Group-44.png" />
    <p >{{doctor.firstName}}</p >

    <img src="/img/icons8-dashboard-64.png" />
    <p href="/clinicians/dashboard">Dashboard</p >

    <img src="/img/list-dash-header.png" />
    <p href="/clinicians/list of clinical notes">Note</p >

    <img src="/img/Comment-1.png" />
    <p href="clinicians/checkComment">Comment</p >

    <img src="/img/icons8-add-user-male-96.png" />
    <p href="/clinicians/createProfile">Create</p >

    <img src="/img/icons8-search-account-64.png" />
    <p href="/clinicians/profile">Profile</p >
  </div>
    <div class="login_box">
      <p class="title-account">Create Patient's Account</p>
      <link
        href="https://fonts.googleapis.com/css2?family=Quattrocento+Sans:wght@700&display=swap"
        rel="stylesheet"
      />
      <div class="center-form-box">
        <div class="line-css"><input
            class="input-css"
            type="text"
            name="userName"
            placeholder="User name"
            required
          /></div>
        <div class="two-col-line">
          <div class="row-item">
            <input
              class="input-css"
              type="text"
              name="password"
              placeholder="Password"
              required
            />
          </div>
          <div class="row-item">
            <input
              class="input-css"
              type="text"
              name="confirmPassword"
              placeholder="Confirm Password"
              required
            />
          </div>
        </div>
        <div class="two-col-line">
          <div class="row-item">
            <input
              class="input-css"
              type="text"
              name="firstName"
              placeholder="First name"
              required
            />
          </div>
          <div class="row-item">
            <input
              class="input-css"
              type="text"
              name="lastName"
              placeholder="Last name"
              required
            />
          </div>
        </div>
        <div class="line-css"><input
            class="input-css"
            type="text"
            name="email"
            placeholder="Email Address"
            required
          /></div>
        <div class="three-col-line">
          <div>Birth of Date:</div>
          <div class="input-css-day"><input class="input-css1" /></div>

          <div>Day</div>
          <input class="input-css1" />
          <div>Month</div>
          <input class="input-css1" name="year"/>
          <div>Year</div>

        </div>
        <div class="line-css"><input
            class="input-css"
            type="text"
            name="supportMessage"
            placeholder="Support Message"
            required
          /></div>
        <div class="two-col-line">
          <div class="row-item"><input
              type="submit"
              value="CANCEL"
              class="submit-css"
            /></div>
          <div class="row-item"><input
              type="submit"
              value="CREATE ACCOUNT"
              class="submit-css"
              onclick="Submit Successfully"
            /></div>
        </div>
      </div>
    </div>
  </form>
</body>