<body>
    <div class="container">
        <!-- merge this section to your project -->
        <section class="flex-wrapper">

            <div class="content_abox"  style="margin-top: 100px;">
                <div class="home_box1">
                    <div>
                        <img class="home_aa2" src="/img/Group-44.png" alt="Chris">
                    </div>


                    <div class="cont_text">
                        {{doctor.userName}}
                    </div>

                    <form method="POST" action="/clinicians/logout">
                        <button id="button" style="width: 100px;height: 40px;margin-top: 30px;border: 0;background-color: #B2E2DC;box-shadow: 1px 2px 2px #ccc;">Log out</button>
                    </form>

                </div>
                <form action="/clinicians/home">
                    <div class="cont_bb">
                        <div class="" style="width: 800px;">
                            <div class="">
                                <img src="/img/icons8-dashboard-64.png" alt="dashboard">
                                <div onClick="location.href='/clinicians/dashboard'">Dashboard</div>
                            </div>
                            <div class="">
                                <img src="/img/icons8-search-account-64.png" alt="Profile">
                                <div onClick="location.href='/clinicians/profile'">Profile</a></div>
                            </div>
                        </div>
                        <div style="margin-top: 50px;width: 800px;">
                            <div class="">
                                <img src="/img/list-dash-header.png" alt="clinical notes">
                                <div onClick="location.href='/clinicians/checkComment'">Check comments</a></div>
                            </div>
                            <div class="">
                                <img src="/img/icons8-add-user-male-96.png" alt="create account">
                                <div onClick="location.href='/clinicians/createProfile'">Create account</a></div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </div>
</body>