<h1>LogIn</h1>
{{#if loginMessage}} <p>{{loginMessage}}</p > {{/if}}
<form action="/clinicians/login" method="POST">
    <div class="login_box">
        <p class="title">Sign In</p>
        <link href="https://fonts.googleapis.com/css2?family=Quattrocento+Sans:wght@700&display=swap" rel="stylesheet">
        <div class="Ipt"><label for="username">Email:<input type="text" name="userID" placeholder="Enter email address here" required></label></div> 
        <div class="Ipt"><label for="password">Password:<input type="password" name="password" placeholder="Enter password here" required></label></div>
        <div class="golog"><input type="submit" value="Submit" /></div>
    </div>
</form>