<div id="sidenav" class="sidenav">
    <img src="/img/Group-44.png" />
    <p onClick="location.href='/clinicians/home'">{{doctor.firstName}}</p >

    <img src="/img/icons8-dashboard-64.png" />
    <p onClick="location.href='/clinicians/dashboard'">Dashboard</p >

    <img src="/img/Comment-1.png" />
    <p onClick="location.href='/clinicians/checkComment'">Comment</p >

    <img src="/img/icons8-add-user-male-96.png" />
    <p onClick="location.href='/clinicians/createProfile'">Create</p >

    <img src="/img/icons8-search-account-64.png" />
    <p onClick="location.href='/clinicians/profile'">Profile</p >
    <form method="POST" action="/clinicians/logout">
    <button>Log out</button>
    </form>
</div>
<form action="/clinicians/dashboard/{{patient._id}}/clinicalNotes" method="POST" class="clin_note_form" style="margin-top: 100px;">
<div class="ClinicalNote" style="text-align: left;padding-left: 500px;"> 
    Clinical Notes
</div>
<div class="clinical_box2" style="margin-left: 200px;">
    <div >Patient Name: </div>
    <div class="clinical_box">{{patient.firstName}}</div>
</div>
<div class="box_right_aaa">
    <div class="textarea">
        <input type="hidden" name="patientId" value="{{doctor.patients.patientIDs}}">
        <textarea type ="text" placeholder="Enter Clinical Notes" name="notes"></textarea>
    </div>
    <button class="send" style="border: 0;margin-left:500px;">
        Send
    </button>
</div>
</form>