<h1>update</h1>
{{#if message}} <p>{{message}}</p > {{/if}}
<form action="/clinicians/updatePassword" method="POST">
    <div class="login_box">
        <p class="title">Update Password</p>
        <link href="https://fonts.googleapis.com/css2?family=Quattrocento+Sans:wght@700&display=swap" rel="stylesheet">
        <div class="Ipt"><label for="oldPassword">old password:<input type="password" name="oldPassword" placeholder="Enter old password here" required></label></div> 
        <div class="Ipt"><label for="newPassword">new Password:<input type="password" name="newPassword" placeholder="Enter new password here" required></label></div>
         <div class="Ipt"><label for="newPassword">confirm Password:<input type="password" name="confirmPassword" placeholder="Enter confirm password here" required></label></div>
        <div class="golog"><input type="submit" value="Submit" /></div>
    </div>
</form>