<div id="sidenav" class="sidenav">
    <img src="/img/Group-44.png" />
    <p onClick="location.href='/clinicians/home'">{{doctor.firstName}}</p >

    <img src="/img/icons8-dashboard-64.png" />
    <p onClick="location.href='/clinicians/dashboard'">Dashboard</p >

    <img src="/img/Comment-1.png" />
    <p onClick="location.href='/clinicians/checkComment'">Comment</p >

    <img src="/img/icons8-add-user-male-96.png" />
    <p onClick="location.href='/clinicians/createProfile'">Create</p >

    <img src="/img/icons8-search-account-64.png" />
    <p onClick="location.href='/clinicians/profile'">Profile</p >
    <form method="POST" action="/clinicians/logout">
    <button>Log out</button>
    </form>
</div>
<form action="/clinicians/updatePassword" method="POST">
    <p style="text-align: center;margin-top:40px"></p>
    <div style="margin: 100px 20% 0 35%;">
        <link href="https://fonts.googleapis.com/css2?family=Quattrocento+Sans:wght@700&display=swap"
                rel="stylesheet">
        <div class="create_box">
            
        <div class="Ipt_cli"><label for="oldPassword"><input type="password" name="oldPassword"
                    placeholder="Enter old password" required></label></div>
        <div class="Ipt_cli"><label for="newPassword"><input type="password" name="newPassword"
                    placeholder="Enter new password" required></label></div>
        <div class="Ipt_cli"><label for="newPassword"><input type="password" name="confirmPassword"
                    placeholder="Enter confirm password" required></label></div>
        {{#if message}} <p class="errormessage">{{message}}</p> {{/if}}
        <div class="Ipt_cli"><input style="margin-top:5%" class="golog" type="submit" value="Submit" /></div>
    </div>
</form>
