<h2>List of clinical notes.</h2>
<form action="/clinicians/list of clinical notes" method="GET"></form>
<div class="sidenav">
    <img src="/img/Group-44.png" />
    <p >{{doctor.firstName}}</p >

    <img src="/img/icons8-dashboard-64.png" />
    <p href="/clinicians/dashboard">Dashboard</p >

    <img src="/img/list-dash-header.png" />
    <p href="/clinicians/list of clinical notes">Note</p >

    <img src="/img/Comment-1.png" />
    <p href="clinicians/checkComment">Comment</p >

    <img src="/img/icons8-add-user-male-96.png" />
    <p href="/clinicians/createProfile">Create</p >

    <img src="/img/icons8-search-account-64.png" />
    <p href="/clinicians/profile">Profile</p >
</div>
<ul>
{{#each clinical}}
<li>{{this}}</li>
{{/each}}
</ul>