<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In</title>
    <link rel="stylesheet" href="../css/publick.css">
    <link rel="stylesheet" href="../css/login.css">
</head>
<body>
    <div>
        <div class="navTop">
            <div>
                <img src="../static/nav/11.png" alt="">
    
            </div>
        </div>

        <div class="login_box">
            <div class="title">Sign In</div>
            <div class="Ipt"><input type="text" placeholder="Username"></div>
            <div class="Ipt"><input type="text" placeholder="Passward"></div>
            <div class="golog">LOG IN</div>
        </div>
    </div>
</body>
</html>