
<head>
  <div class="header">
    <p class="left lightgreen">Diabetes@Home (Clinicians)</p >
  </div>
</head>

<body>
  <div class="sidenav">
    <img src="/img/Group-44.png" />
    <p>Chris</p >

    <img src="/img/icons8-dashboard-64.png" />
    <p>Dashboard</p >

    <img src="/img/list-dash-header.png" />
    <p>Note</p >

    <img src="/img/Comment-1.png" />
    <p>Comment</p >

    <img src="/img/icons8-add-user-male-96.png" />
    <p>Create</p >

    <img src="/img/icons8-search-account-64.png" />
    <p>Profile</p >
  </div>

  <div class="main">
    <table border="2" style="border-collapse: collapse;">
        <thead style="width:200px; background-color:#9CD9DE">
            <th>Patient Name</th>
            <th>Blood Glucose Level(/L)</th>
            <th>Insulin Taken(Times)</th>
            <th>Exercise(Step count)</th>
            <th>Weight (kg)</th>
        </thead>
        <tbody>
            {{#each record.data}}
              <form action="/dashboard" method="GET">
                <tr>
                  <td >{{record.patientID.userName}}</td>
                  {{#ifUnrecorded}}
                  <td style = "background-color: yellow">missing</td>
                  {{else}}
                  <td style="background-color:
                    {{#ifOutofthreshould}}
                    red
                    {{else}}
                    gray
                    {{/ifOutofthreshold}}
                    ;">
                  {{/ifUnrecorded}}
                  {{this.value}}
                  </td>   
                </tr>
              </form>
            {{/each}}
        </tbody>
    </table>
  </div>
</section>