<div id="sidenav" class="sidenav">
  <img src="../public/img/head1.png" />
  <p onClick="location.href='/patients/home'">{{patient.userName}}</p>
  <img src="../public/img/recording.png" />
  <p onClick="location.href='/patients/recordData'">Record</a></p>
  <img src="../public/img/view.png" />
  <p onClick="location.href='/patients/viewTable'">View</a></p>
  <img src="../public/img/ranking.png" />
  <p onClick="location.href='/patients/recordRank'">Rank</a></p>
  <img src="../public/img/profile.png" />
  <p onClick="location.href='/patients/profile'">Profile</a></p>
  <p onClick="location.href='/patients/AboutDiabetes'">About Diabetes</a></p>
  <p onClick="location.href='/patients/AboutWebsite'">About Website</a></p>
  <form method="POST" action="/patients/logout">
    <button id="button">Log out</button>
  </form>
</div>

<div style="margin: 100px 20% 0 35%;">
    <form action="/patients/updatePassword" method="POST">
    <p class="" style="text-align: center;margin-top:40px">Update Password</p>
            <link href="https://fonts.googleapis.com/css2?family=Quattrocento+Sans:wght@700&display=swap"
                rel="stylesheet">
        <div class="login_box">
            
            <div class="Ipt"><label for="oldPassword">old password:<input type="password" name="oldPassword"
                        placeholder="Enter old password here" required></label></div>
            <div class="Ipt"><label for="newPassword">new Password:<input type="password" name="newPassword"
                        placeholder="Enter new password here" required></label></div>
            <div class="Ipt"><label for="newPassword">confirm Password:<input type="password" name="confirmPassword"
                        placeholder="Enter confirm password here" required></label></div>
            {{#if message}} <p>{{message}}</p> {{/if}}
            <div class="Ipt"><input  class="golog" type="submit" value="Submit" /></div>
        </div>
    </form>
</div>