<form action="/patients/home">
    <div class="box_cosn">
        <div class="content_abox">
            <div class="cont_aa">
                <div class="img_a">
                    <img src="../public/img/head.png" alt="">
                </div>
                <div class="cont_text">
                    {{patient.userName}}
                </div>
            </div>
            <div class="cont_bb">
                <div>
                    <div>
                        <img src="../public/img/recording.png" alt="">

                        <div><a href="/patients/recordData">Record Data</a></div>
                    </div>
                    <div>
                        <img src="../public/img/view.png" alt="">

                        <div><a href="/patients/viewTable">VIEW DATA</a></div>
                    </div>
                </div>

                <div class="" style="margin-top: 50px;">
                    <div>
                        <img src="../public/img/ranking.png" alt="">

                        <div><a href="/patients/recordRank">RECORD RANK</a></div>
                    </div>
                    <div>
                        <img src="../public/img/profile.png" alt="">

                        <div><a href="/patients/profile">PROFILE</a></div>
                    </div>
                </div>

                <div class="" style="margin-top: 50px;">
                    <div>
                        <div><a href="/patients/AboutDiabetes">About Diabetes</a></div>
                    </div>
                    <div>
                        <div><a href="/patients/AboutWebsite">About Website</a></div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <footer>
        Doctor {{patient.doctor}} : {{patient.supportMes}}
    </footer>
</form>