<div class="box">
        <div class="content">
            <div class="cont_aa">
                <div class="img_a">
                    <img src="../image/icpix1.png" alt="">
                </div>
                <div class="cont_text">
                    Pat
                </div>
            </div>
            <div class="cont_bb">
                <div>
                    <div>
                        <img src="../image/icon1.png" alt="">

                        <div><a href="/patients/recordData">Record Data</a></div>
                    </div>
                    <div>
                        <img src="../image/icon2.png" alt="">

                        <div><a href="/patients/viewTable">VIEW DATA</a></div>
                    </div>
                </div>

                <div class="" style="margin-top: 50px;">
                    <div>
                        <img src="../image/icon3.png" alt="">

                        <div><a href="/patients/recordRank">RECORD RANK</a></div>
                    </div>
                    <div>
                        <img src="../image/icon4.png" alt="">

                        <div><a href="/patients/profile">PROFILE</a></div>
                    </div>
                </div>

            </div>
        </div>
</div>
<footer>
     Doctor {{record.patientID.doctor}} : {{record.patientID.supportMes}}
</footer>
