<div class="sidenav">
    <img src="../public/img/head.png" />
    <p>{{patient.userName}}</p >
    <img src="../public/img/recording.png" />
    <p><a href="/patients/recordData">Record</a></p >
    <img src="../public/img/view.png" />
    <p><a href="/patients/viewTable">View</a></p >
    <img src="../public/img/ranking.png" />
    <p><a href="/patients/recordRank">Rank</a></p >
    <img src="../public/img/profile.png" />
    <p><a href="/patients/profile">Profile</a></p >
    <img src="../public/img/setting.png" />
    <p><a href="../patients/changepassword">setting</a></p >
    <img src="../public/img/warning.png" />
    <p>urgency</p >
</div>
{{#if message}} <p>{{message}}</p > {{/if}}
<form action="/patients/updatePassword" method="POST">
    <div class="login_box">
        <p class="title">Update Password</p>
        <link href="https://fonts.googleapis.com/css2?family=Quattrocento+Sans:wght@700&display=swap" rel="stylesheet">
        <div class="Ipt"><label for="oldPassword">old password:<input type="password" name="oldPassword" placeholder="Enter old password here" required></label></div> 
        <div class="Ipt"><label for="newPassword">new Password:<input type="password" name="newPassword" placeholder="Enter new password here" required></label></div>
         <div class="Ipt"><label for="newPassword">confirm Password:<input type="password" name="confirmPassword" placeholder="Enter confirm password here" required></label></div>
        <div class="golog"><input type="submit" value="Submit" /></div>
    </div>
</form>