<div class="box">
        <div class="content">
            <div class="cont_aa">
                <div class="img_a">
                    <img src="../image/icpix1.png" alt="">
                </div>
                <div class="cont_text">
                    Pat
                </div>
            </div>
            <div class="cont_bb">
                <div>
                    <div>
                        <img src="../image/icon1.png" alt="">

                        <div href="/patients/recordData">RECORD DATA</div>
                    </div>
                    <div>
                        <img src="../image/icon2.png" alt="">

                        <div href="/patients/viewTable">VIEW DATA</div>
                    </div>
                </div>

                <div class="" style="margin-top: 50px;">
                    <div>
                        <img src="../image/icon3.png" alt="">

                        <div href="/patients/recordRank">RECORD RANK</div>
                    </div>
                    <div>
                        <img src="../image/icon4.png" alt="">

                        <div href="/patients/profile">PROFILE</div>
                    </div>
                </div>

            </div>
        </div>
    </div>
