<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recording Data</title>
    <link rel="stylesheet" href="StylesheetPatient.css">
  
</head>
<body>
    <div class = 'encourage'>
        <p>Doctor Chris : “You can do it!”</p>
    </div>
    <div class = "head-portrait">
        <img src="head portrait.png" alt="head portrait">
        <p>Pat</p>
    </div>
    <div class="Record">
        <img src="record.png" alt="Record data">
        <a href="Patientrecord.hbs"><p>Record</p></a>
    </div>
    <div class="View">
        <img src="view.png" alt="View data">
        <a href="Patientview.hbs"><p>View</p></a>
    </div>
    <div class="Rank">
        <img src="rank.png" alt="badge rank">
        <a href="Patientrank.hbs"><p>Rank</p></a>
    </div>
    <div class="Profile">
        <img src="profile.png" alt="profile">
        <a href="Patientprofile.hbs"><p>Profile</p></a>
    </div>

    </body>
</body>
</html>