<form action="/patients/home">
<div class="box">
        <div class="content">
            <div class="cont_aa">
                <div class="img_a">
                    <img src="../image/icpix1.png" alt="">
                </div>
                <div class="cont_text">
                {{patient.userName}}  
                </div>
            </div>
            <div class="cont_bb">
                <div>
                    <div>
                        <img src="../public/img/icon1.png" alt="">

                        <div><a href="/patients/recordData">Record Data</a></div>
                    </div>
                    <div>
                        <img src="../public/img/icon2.png" alt="">

                        <div><a href="/patients/viewTable">VIEW DATA</a></div>
                    </div>
                </div>

                <div class="" style="margin-top: 50px;">
                    <div>
                        <img src="../public/img/icon3.png" alt="">

                        <div><a href="/patients/recordRank">RECORD RANK</a></div>
                    </div>
                    <div>
                        <img src="../public/img/icon4.png" alt="">

                        <div><a href="/patients/profile">PROFILE</a></div>
                    </div>
                </div>

            </div>
        </div>
</div>
<footer>
     Doctor {{patient.doctor}} : {{patient.supportMes}}
</footer>
</form>
