<head>
    <script src="https://cdn.bootcdn.net/ajax/libs/echarts/5.3.2/echarts.common.js"></script>
</head>
<body>
    <form action="/patients/viewData" method="GET">
    <div class="sidenav">
        <img src="../public/img/head.png" />
        <p>Pat</p >
        <img src="../public/img/recording.png" />
        <p>Record</p >
        <img src="../public/img/view.png" />
        <p>View</p >
        <img src="../public/img/ranking.png" />
        <p>Rank</p >
        <img src="../public/img/profile.png" />
        <p>Profile</p >
        <img src="../public/img/setting.png" />
        <p>setting</p >
        <img src="../public/img/warning.png" />
        <p>urgency</p >
    </div>
    <section>
    
    <div class="main">
            <div class="title-data"><h6>Patient Name: {{patient.userName}}&nbsp;&nbsp;&nbsp;&nbsp;Age: {{age.age}} &nbsp;&nbsp;&nbsp;&nbsp;Gender:Male</h6></div>
    <table>
        <thead>
            <tr>
                <th> Date </th>
                <th>Blood Glucose Level(/L)</th>
                <th>Insulin Taken(Times)</th>
                <th>Weight (kg)</th>
                <th>Exercise(Step count)</th>

            </tr>
        </thead>
        <tbody>
            {{#each dates}}
                {{#each datas}}
                    <tr>
                        {{!-- <td>{{this.dates}}</td> --}}
                        <td>{{> blood datas=datas}}</td>
                        <td>{{> insulin dates=dates}}</td>
                        <td>{{> weight dates=dates}}</td>
                        <td>{{> exercise dates=dates}}</td>
                    </tr>
                {{/each}}
            {{/each}}
        </tbody>
    </table>
    </section>
    </form>
</body> 

{{!-- <h1 style="text-align: center;"> View Last 15 Days History Data </h1>
<form action="/patients/viewData" method="GET">
<div style="width: 100%; display: flex; flex-wrap: wrap; justify-content: space-around; align-content: space-between">
  {{> blood dates=dates datas=datas}}
  {{> weight dates=dates datas=datas}}
  {{> insulin dates=dates datas=datas}}
  {{> exercise dates=dates datas=datas}}
</div>
</form> --}}