{{#each flash}}
<p class="alert">{{this}}</p> {{/each}}
<form action="/login" method="POST">
    <div class="login_box">
        <div class="title">Sign In</div>
        <div class="Ipt"><label for="username">Username:</label> <input type="text" name="username" /></div> 
        <div class="Ipt"><label for="password">Password:</label> <input type="password" name="password" /> </div>
        <div class="golog"><input type="submit" value="Submit" /></div>
    </div>
</form>
