<div class="box_cosn" style="margin-top: 100px;">
    <div class="content_abox">
        <div class="cont_aa">
            <div class="img_a">
                <img style="width: 170px;" src="../public/img/head1.png" alt="">
            </div>
            <div class="cont_text">
                {{patient.userName}}
            </div>
            <form method="POST" action="/patients/logout">
                <button id="button">Log out</button>
            </form>
        </div>
        <form action="/patients/home">
            <div class="cont_bb">
                <div>
                    <div>
                        <img src="../public/img/recording.png" alt="">

                        <div id="button" onClick="location.href='/patients/recordData'">Record Data</div>
                    </div>
                    <div>
                        <img style="width: 35px; height: 35px;" src="../public/img/view.png" alt="">

                        <div id="button" onClick="location.href='/patients/viewTable'">VIEW DATA</div>
                    </div>
                </div>

                <div class="" style="margin-top: 50px;">
                    <div>
                        <img style="width: 35px; height: 35px;" src="../public/img/ranking.png" alt="">

                        <div id="button" onClick="location.href='/patients/recordRank'">RECORD RANK</div>
                    </div>
                    <div>
                        <img src="../public/img/profile.png" alt="">

                        <div id="button" onClick="location.href='/patients/profile'">PROFILE</div>
                    </div>
                </div>

                <div class="" style="margin-top: 50px;">
                    <div>
                        <div id="button" onClick="location.href='/patients/AboutDiabetes'">About Diabetes</div>
                    </div>
                    <div>
                        <div id="button" onClick="location.href='/patients/AboutWebsite'">About Website</div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<footer style="text-align: center">
    Doctor {{patient.doctor}} : {{patient.supportMes}}
</footer>