<form action="/patients/rank" method="GET">
  <div class="sidenav">
    <img src="../public/img/head.png" />
    <p>{{patient.userName}}</p>
    <img src="../public/img/recording.png" />
    <p><a href="/patients/recordData">Record</a></p>
    <img src="../public/img/view.png" />
    <p><a href="/patients/viewTable">View</a></p>
    <img src="../public/img/ranking.png" />
    <p><a href="/patients/recordRank">Rank</a></p>
    <img src="../public/img/profile.png" />
    <p><a href="/patients/profile">Profile</a></p>
    <img src="../public/img/setting.png" />
    <p>setting</p>
    <img src="../public/img/warning.png" />
    <p>urgency</p>
  </div>
  <section>
    <div>
      {{!-- <h1> Leaderboard </h1> --}}
      {{!-- <div>
        {{rankData}}
      </div> --}}


      <div style="margin: 100px;">
        <div style="text-align: center;fontSize:20px;font-weight: 600;">
          Top 5 Badge Ranking
        </div>

        <div style="margin-left: 250px ;margin-top: 60px;">
          <div style=" font-size: 26px; font-weight: 400;">You Have Been Here For <span style="color:red ;">109</span>
            Days</div>

          <div class="ulTable" style="width: 800px;
          height: 400px;
          border: 8px solid rgb(188,225,218);border-radius: 20px;padding:10px 40px">

            <div class="ul_das">

              <div>
                Rank
              </div>
              <div>
                Name
              </div>
              <div>
                Rate
              </div>

              <div>
                Badge
              </div>

            </div>
            <div class="ul_dasa">
              <div>
                No.1
              </div>
              <div>
                <img src="../public/img/head.png" alt="">
              </div>
              <div>
                99%
              </div>
              <div>
                <img src="../public/img/head.png" alt="">
              </div>
            </div>
            <div class="ul_dasa">
              <div>
                No.1
              </div>
              <div>
                <img src="../public/img/head.png" alt="">
              </div>
              <div>
                99%
              </div>
              <div>
                <img src="../public/img/head.png" alt="">
              </div>
            </div>
            <div class="ul_dasa">
              <div>
                No.2
              </div>
              <div>
                <img src="../public/img/head.png" alt="">
              </div>
              <div>
                99%
              </div>
              <div>
                <img src="../public/img/head.png" alt="">
              </div>
            </div>
            <div class="ul_dasa">
              <div>
                No.3
              </div>
              <div>
                <img src="../public/img/head.png" alt="">
              </div>
              <div>
                99%
              </div>
              <div>
                <img src="../public/img/head.png" alt="">
              </div>
            </div>
            <div class="ul_dasa">
              <div>
                No.4
              </div>
              <div>
                <img src="../public/img/head.png" alt="">
              </div>
              <div>
                99%
              </div>
              <div>
                <img src="../public/img/head.png" alt="">
              </div>
            </div>


            {{!-- <ul>
              {{#each rankData}}
              <li> {{this}}: {{this}} </li>
              {{/each}}

            </ul> --}}


          </div>
        </div>




      </div>

    </div>
  </section>
</form>