<form action="/patients/AboutWebsite">
  <link href="https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap" rel="stylesheet">

  <body style="margin-top: 100px;font-size:25px">


    <div class="" style="">
      <img style="text-align: center; width: 100%; height:600px;margin:-3px 200px" src="../public/img/AboutWebsite.jpeg">

    </div>

    <div class="websiteposition">
      <div class="poster-image-text">

        <h3 class="text-center"> <i>Diabetes@Home</i> </h3>
      </div>
      <div class="text-center">
        <p >
          Is a young model built by five univeersity students.
          It is built for bring a more convenient contact between
          both patients and doctors.
        </p>

        <div style="margin-top: 100px;">We have both website and app version for all use. We strive to deliver
          excellence in care throughout entire spectrum of life, including
        </div>


        <div class="labels">
          <div class="lable_tex">
            <div class="label">
              <div class="label-title">
                路Efficiency
              </div>
              <div class="label-text">
                Immediate &
              </div>
              <div>Auto Clinical Notes</div>
            </div>

            <div class="label">
              <div class="label-title">
                路Motivation
              </div>
              <div class="label-text">
                Rank System
              </div>
              <div>Impulse inner power</div>
            </div>
          </div>

          <div class="lable_tex">
            <div class="label">
              <div class="label-title">
                路 Support
              </div>
              <div class="label-text">
                Get Encouragement
              </div>
              <div>from Doctor.</div>
            </div>

            <div class="label" style="padding-right: 20px;">
              <div class="label-title" >路 Precision
              </div>
              <div class="label-text" >Record Data
              </div>
              <div >And data line chart
              </div>
            </div>

          </div>
        </div>

        <div class="paragraph">
          We specialise in providing personalized high quality service
          about healthcare and supporting numerous old age
          patients who can not use smart phone well.
        </div>

        <div class="paragraph">
          We are proud that our practice is preferred medical software
          in world to nursing homes around the world like
          Australia, Europe and the USA.
        </div>

        <footer>
          <div class="team-name" style="margin-top:100px ;">
            Team Sugar-free
          </div>
          <div class="team-member" style="margin-top: 50px;">
            Wenwen Zhang, Xiaohan Guo, Jiawei Niu, Shiyuan Tan, Xinghon Lu
          </div>
        </footer>
      </div>
    </div>

  </body>
</form>