<form action="/patients/AboutWebsite">
<link href="https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap" rel="stylesheet">
<body>
  <div class="poster">
    <img src="../public/img/AboutWebsite.jpeg">
    <div class="poster-image-text">
      Diabetes@Home
    </div>
  </div>

  <div class="main-text">
    <div class="paragraph">
      Is a young model built by five univeersity students.
      It is built for bring a more convenient contact between
      both patients and doctors.
    </div>
  
    <div class="paragraph">
      We have both website and app version for all use.
      We strive to deliver excellence in care throughout entire
      spectrum of life, including
    </div>
  
    <div class="labels">
      <div class="label">
        <div class="label-title">
          Efficiency
        </div>
        <div class="label-text">
          Immediate & Auto Clinical Notes
        </div>
      </div>

      <div class="label">
        <div class="label-title">
          Motivation
        </div>
        <div class="label-text">
          Rank System Impulse inner power
        </div>
      </div>

      <div class="label">
        <div class="label-title">
          Support
        </div>
        <div class="label-text">
          Get Encouragement from Doctor.
        </div>
      </div>

      <div class="label">
        <div class="label-title">
          Efficiency
        </div>
        <div class="label-text">
          Immediate & Auto Clinical Notes
        </div>
      </div>
    </div>


    <div class="paragraph">
      We specialise in providing personalized high quality service
      about healthcare and supporting numerous old age
      patients who can not use smart phone well.
    </div>
  
    <div class="paragraph">
      We are proud that our practice is preferred medical software
      in world to nursing homes around the world like
      Australia, Europe and the USA. 
    </div>

    <footer>
      <div class="team-name">
        Team Sugar-free
      </div>
      <div class="team-member">
        Wenwen Zhang, Xiaohan Guo, Jiawei Niu, Shiyuan Tan, Xinghon Lu
      </div>
    </footer>
  </div>
</body>
</form>