<body>

    <img class="welcom_log_a" src="../public/img/Welcome.jpeg" alt="Welcome Page"><br>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@1,600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Quando&display=swap" rel="stylesheet">
    <nav class="nav nav_wel">
        <button class="login-button" onClick="location.href='/clinicians/login'">Clinicians Log In</button>
        <button class="login-button" onClick="location.href='/patients/login'">Patients Log In</button>
    </nav>
    <div class="webcome_text_bot">
    <h1>
        Welcome Join Diabetes@Home !!!
    </h1>
    </div>
    <div class="webcome_btn_bot">
    <h4 type="button" onClick="location.href='/AboutDiabetes'">About Diabetes</h4>
    <h4 type="button" onClick="location.href='/AboutWebsite'">About Website</h4>

    </div>


</body>
