<body>
    <nav class="nav">
        <button class="login-button">
          <a href="/clinicians/login">Clinicians Log In</a>
        </button>
        <button class="login-button">
          <a href="/patients/login">Patients Log In</a>
        </button>
    </nav>
    <img src="../public/img/Welcome.jpeg" alt="Welcome Page"><br>
    <h1>
        Welcome Join Diabetes@Home
    </h1>
    <h2><a href="/AboutDiabetes">About Diabetes</a></h2>
    <h2><a href="/AboutWebsite">About This Website</a></h2>

</body>
