<body>

    <img class="welcom_log_a" src="../public/img/Welcome.jpeg" alt="Welcome Page"><br>

    <nav class="nav nav_wel">
        <button class="login-button" onClick="location.href='/clinicians/login'">Clinicians Log In</button>
        <button class="login-button" onClick="location.href='/patients/login'">Patients Log In</button>
    </nav>
    <div class="webcome_text_bot">
    <h1>
        Welcome Join Diabetes@Home
    </h1>
    </div>
    <div class="webcome_btn_bot">
    <h4  id="button" type="button" onClick="location.href='/AboutDiabetes'">About Diabetes</h4>
    <h4  id="button" type="button" onClick="location.href='/AboutWebsite'">About Website</h4>

    </div>


</body>
