html {font-size: 4.5vh;}
 
/* assign regions of the page to the grid */
header {grid-area: header;}
aside {grid-area: aside;}
main {grid-area: main;}
nav {grid-area: nav;}
footer {grid-area: footer;}



body {
    background-color: #E3F9EE;
    margin: 0;
    font-family: Verdana, sans-serif;
}

.container {
    background-color: #E3F9EE;
}


.title {
    margin: 10px;
    padding-left: 500px;
    position: fixed;
}
.headerbar{
    background-color: #B2E2DC;
    padding: 0px;
    width: 100%;
    height: 67px;
    position: fixed;
    margin-top: -88px;
}
.lightgreen {
    margin: 4px 20px;
    font-family: 'Ranga', cursive;
    font-weight: 400;
    font-size: 35px;
    top: -1px;
    padding: 5px;
    background-color: #E3F9EE;
    box-shadow: 0 5px 5px -5px black;
    position: fixed;
}

.left {
    margin: 0;
    text-align: left;
}

.right {
    margin: 0;
    text-align: right;
}

.item {
    flex-grow: 1;
}

.item+.item {
    margin-left: 2%;
}

.subheader {
    margin-top: 10px;
    background-color: lightgreen;
}

.subheader p {
    text-align: center;
    margin: 0;
    padding: 10;
}



.sidenav {
    height: 100%;
    z-index: 1;
    top: 68px;
    background: #eee;
    overflow-x: hidden;
    padding: 10px 0;
    width: 84px;
    background-color: #B2E2DC;
    position: fixed;
    left: 0px;
}
.sidenav img {
    width: 40px;
    margin: 10px 20px 0 20px;
}
.sidenav p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    line-height: 19px;
    margin: 5px 0 58px 0;
}

.padding-10 {
    padding: 10px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-top: 90px;
}

table tr th,
table tr td {
    text-align: center;
}

td,
th {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
}

.main {
    margin-left: 80px;
    /* Same width as the sidebar + left position in px */
    font-size: 28px;
    /* Increased text to enable scrolling */
    padding: 0px 20px;
    margin: 0px 80px 30px;
    font-weight: 900;
    font-size: 40px;
    line-height: 47px;
}


h2 {
    text-align: center;
}


.grey {
    color: gray;
}

@media (min-width: 375px) and (max-width:1920px){
    .hint {
        margin-top: 10px;
    }
    
    .hint p {
        margin-left: 200px;
        padding: 10;
        font-weight: 600;
        font-size: 25px;
        line-height: 30px;
        color: #C82C2C;
        width:100%;
    }
    .main h3{
        margin-top: 90px;
        margin-left: 200px;
        font-size:30px;
        width:100%;
    }
    .main h4{
        margin-left: 200px;
        font-size: 30px;
        font-weight:600;
        width:100%;
    }
    .d-col-2 img{
        width: 82px;
        height: 75px;
        margin-top:15px;
        margin-left: 100px;
        float:left;
    }
    .d-col-1 {
        margin: 20px 30px 40px;
    }
    .d-col-1-grey{
        color:grey;
    }
    .d-col-12 {
        line-height: 20px;
    }
    .d-col-2{
        width: 20px;
        margin: 0 35px 0;
    }
    .d-col-12 button{
        background-color: #A5E0D5;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 600;
        font-size: 28px;
        line-height: 35px;
        text-indent: 1px;
        margin: 40px 600px 0;
    }
    .d-col-4{
        font-size: 25px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        text-indent: 1px;
    
    }
    .left input{
        margin:0 25px 0;
        font-size: 23px;
        line-height: 30px;
        font-size:20px;
        background-color: #D4F4D9;
        text-align: center;
        width: 350px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4)
    }
    
    
    .left{
        margin:30px 250px 0;
        width: 100%
    }

}
@media screen and (max-width: 640px) {  /* page layout for phones */
    body {
        display: flex;
        flex-direction: column;
    }
    
}

/* log in css */

.login_box {
    background-color: rgb(227,249,238);
    width: 100%;
    height: calc(100vh - 60px);
    overflow: hidden;
}

.title {
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 71px;
    margin-top: 30px;
}

.login_box {
    overflow: hidden;
}

.Ipt {
    width: 900px;
    height: 90px;
    margin: 100px auto 0;
    text-align: center;
}

.Ipt>input {
    width: 100%;
    height: 90px;
    /* margin: 100px auto 0; */
    font-weight: 400;
    font-size: 40px;
    line-height: 90px;
    color: #000000;
    border: none;
}

.Ipt>input::placeholder {
    font-weight: 400;
    font-size: 40px;
    line-height: 90px;
    color: #000000;
}

.golog {
    width: 900px;
    height: 90px;
    margin: 100px auto 0;
    text-align: center;
    font-family: 'Quattrocento Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 90px;
    background: rgba(196, 237, 195, 0.5);
    box-shadow: 0px 4px 4px rgb(0 0 0 / 40%);
}