@media screen and (max-width: 640px) {  /* page layout for phones */
    body {
        background-size: cover;
        overflow-x: hidden;
    }
    .container {
        width: 1170px;
    }
}
header {grid-area: header;}
aside {grid-area: aside;}
main {grid-area: main;}
nav {grid-area: nav;}
footer {grid-area: footer;}
table {grid-area: table;}
section{grid-area: section}
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

@media (min-width: 992px){
    .container {
        width: 970px;
    }
}
@media (min-width: 768px){
    .container {
        width: 750px;
    }
}   
.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

html {
    font-size: 4.5vh;
}
@font-face {
    font-family: Ranga;
    src: url(./Ranga/Ranga-Regular.ttf);
}


/* assign regions of the page to the grid */
header {
    grid-area: header;
    font-family: Ranga;
    z-index: 99999;
}

aside {
    grid-area: aside;
}

main {
    grid-area: main;
}

nav {
    grid-area: nav;
}

footer {
    grid-area: footer;
}

footer {
   text-align: center;
}

body {
    background-color: #E3F9EE;
    margin: 0;
    font-family: Verdana, sans-serif;
}

.container {
    -color: #E3F9EE;
}


.title {
    margin: 10px;
    padding-left: 500px;
    position: fixed;
}

.title-data {
    margin-top: 100px;
    height: 60px;
    font-size: 36px;

}

.title-account {
    width: 100%;
    text-align: center;
    font-size: 44px;
}

.center-form-box {
    width: 50%;
    margin: 0 auto;
}

.input-css {
    width: 100%;
    height: 60px;
    font-size: 26px;
    color: #000000 !important;
    border: none;
    padding-left: 20px;
}

.line-css {
    margin-top: 20px;
}

.two-col-line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.three-col-line {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    font-size: 28px;
    line-height: 60px;
    height: 60px;
}

.submit-css {
    width: 100%;
    height: 90px;
    margin: 40px auto 0;
    text-align: center;
    font-family: 'Quattrocento Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 90px;
    background: rgba(196, 237, 195, 0.5);
    box-shadow: 0px 4px 4px rgb(0 0 0 / 40%);
    border: none;
}

.input-css1 {
    max-width: 150px;
    height: 60px;
    font-size: 30px;
    color: #000000 !important;
    border: none;
    

}

.row-item {
    width: 49%;
}

.headerbar {
    background-color: #B2E2DC;
    padding: 0px;
    width: 100%;
    height: 67px;
    position: fixed;
    margin-top: -100px;
    display: flex;
    align-items: center;
    font-family: Ranga;
    z-index: 99999;
}

.headerbar>div {
    width: 180px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin-left: 400px; */
    position: absolute;
    right: 15px;
}

.headerbar>div input {
    width: 80px;
    height: 40px;
    font-size: 30px;
    background: #E3F9EE;
    border: none;
    border-radius: 10px;
    font-family: Ranga;
}

.lightgreen {
    margin: 4px 20px;
    font-family: 'Ranga', cursive;
    font-weight: 400;
    font-size: 35px;
    top: -1px;
    padding: 5px;
    background-color: #E3F9EE;
    box-shadow: 0 5px 5px -5px black;
    position: fixed;
}

.lightgreen_logout {
    margin: 4px 900px;
    font-family: 'Ranga', cursive;
    font-weight: 400;
    font-size: 35px;
    top: -1px;
    padding: 5px;
    background-color: #E3F9EE;
    box-shadow: 0 5px 5px -5px black;
    position: fixed;
}

.left {
    margin: 0;
    text-align: left;
}

.right {
    margin: 0;
    text-align: right;
}

.item {
    flex-grow: 1;
}

.item+.item {
    margin-left: 2%;
}

.subheader {
    margin-top: 10px;
    background-color: lightgreen;
}

.subheader p {
    text-align: center;
    margin: 0;
    padding: 10;
}


@media (min-width:640px) and (max-width: 1920px) { 
    .view_table {
        padding: 0;
        height: auto;
        overflow: auto;
    }
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
        margin-top: 40px;
        text-align: center;
        border: 1px solid black;
        text-align: left;
        padding: 8px;
        margin-left:50px
    }
    
    th {
        background-color: #B2E2DC;
    }
    
    td {
        background-color: #ddfaf5;
    }
    
    tr th
    td {
        text-align: center;
    }
    
    td,
    th {
        border: 1px solid black;
        text-align: left;
        padding: 8px;
    }
    
    .main {
        margin-left: 80px;
        /* Same width as the sidebar + left position in px */
        font-size: 28px;
        /* Increased text to enable scrolling */
        padding: 0px 20px;
        margin: 0px 0px 30px;
        font-weight: 900;
        font-size: 40px;
        line-height: 47px;
    }
    
    
    h2 {
        text-align: center;
    }
    
    
    .grey {
        color: gray;
    }
    .box_header{
        font-family: Ranga;
        margin-left: 10px;
        font-size: 45;
    } 
    .sidenav {
        height: 100%;
        z-index: 1;
        top: 57px;
        background: #eee;
        overflow-x: hidden;
        padding: 10px 0;
        width: 84px;
        background-color: #B2E2DC;
        position: fixed;
        left: 0px;
    }

    .sidenav img {
        width: 40px;
        margin: 100% 20px 0 20px;
    }

    .sidenav p {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        text-align: center;
        line-height: 19px;
        margin: 0 0 50% 0;
    }

    .sidenav button{
        width: 70px;
        height: 40px;
        font-size: 25px;
        background: #E3F9EE;
        border: none;
        border-radius: 10px;
        font-family: Ranga;
        margin: 5px 0 10px 6px;
    }
}

.padding-10 {
    padding: 10px;
}

@media (min-width: 375px) and (max-width:1920px) {
    .hint {
        margin-top: 10px;
    }

    .hint p {
        margin-left: 200px;
        padding: 10;
        font-weight: 600;
        font-size: 25px;
        line-height: 30px;
        color: #C82C2C;
        width: 100%;
    }

    .main h3 {
        margin-top: 90px;
        margin-left: 200px;
        font-size: 30px;
        width: 100%;
    }

    .main h4 {
        margin-left: 200px;
        font-size: 30px;
        font-weight: 600;
        width: 100%;
    }

    .d-col-2 img {
        width: 82px;
        height: 75px;
        margin-top: 15px;
        margin-left: 100px;
        float: left;
    }

    .d-col-1 {
        margin: 5% 5% 15% 5%;
    }

    .d-col-1-grey {
        margin: 5% 5% 15% 5%;
        color: grey;
    }

    .d-col-12 {
        line-height: 20px;
    }

    .d-col-2 {
        width: 20px;
        margin: 0 35px 0;
    }

    .d-col-12 button {
        background-color: #A5E0D5;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 600;
        font-size: 28px;
        line-height: 35px;
        text-indent: 1px;
        margin: 40px 600px 0;
    }

    .d-col-4 {
        font-size: 25px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        text-indent: 1px;

    }

    .left input {
        margin: 0 25px 0;
        font-size: 23px;
        line-height: 30px;
        font-size: 20px;
        background-color: #D4F4D9;
        text-align: center;
        width: 350px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4)
    }


    .left {
        margin: 30px 250px 0;
        width: 100%
    }

}

@media screen and (max-width: 640px) {

    /* page layout for phones */
    body {
        display: flex;
        flex-direction: column;
    }

}

/* log in css */
/* 
.login_box {
    background-color: rgb(227, 249, 238);
    width: 100%;
    height: calc(100vh - 60px);
    overflow: hidden;
} */

.title {
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 71px;
    margin-top: 30px;
}

/* .login_box {
    overflow: hidden;
} */

.login_box .Ipt {
    width: 500px;
    height: 70px;
    margin: 70px auto 0;
    /* text-align: center; */
    /* border: 1px solid red; */
    
}

.Ipt input {
    width: 100%;
    height: 70px;
    font-weight: 400;
    font-size: 35px;
    line-height: 70px;
    color: #000000;
    border: none;
    border: 1px solid red;
    outline: none;
    padding-left: 20px;
}

.Ipt>input::placeholder {
    font-weight: 400;
    font-size: 40px;
    line-height: 90px;
    color: #000000;
}

.golog {
    width: 900px;
    height: 70px;
    margin: 70px auto 0;
    text-align: center;
    font-family: 'Quattrocento Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 70px;
    background: rgba(196, 237, 195, 0.5);
    box-shadow: 0px 4px 4px rgb(0 0 0 / 40%);
}

/* profile css */
.box {
    display: flex;
    width: 100%;
}

.top_font {
    font-weight: 700;
    font-size: 60px;
    line-height: 70px;
    padding: 20px;
}

.box_foot {
    display: flex;
    font-size: 25px;
}

.img {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background-color: rgb(165, 224, 212);
    position: relative;
    margin: 30px 150px 0px 150px;
}

.img img {
    position: absolute;
    top: -45px;
    left: -20px;
}

.right_ipt {
    display: flex;
    align-items: center;
    margin-top: 40px;
}

.right_ipt_a {
    font-weight: 500;
    font-size: 25px;
    line-height: 47px;
    text-align: right;
    width: 350px;
    margin-right: 30px;
}

.right_ipt_b {
    width: 445px;
    height: 50px;
    font-weight: 500;
    font-size: 25px;
    line-height: 50px;
    background: #FFFFFF;

    text-align: center;
}

.right_ipt_bb {
    width: 500px;
    height: 150px;
    font-weight: 500;
    font-size: 25px;
    line-height: 50px;
    background: #FFFFFF;

    text-align: center;
}

/* support message css */

.pp_box {
    text-align: center;
    height: 50px;
    width: 400px;
    box-shadow: 0px 3px 3px 1px rgb(165, 164, 164);
    background-color: rgb(213, 246, 230);
    margin: 20px 50px;
}

.pn_box2 {
    margin-left: 200px;
    display: flex;
    /* align-items: center; */
    font-weight: 600;
    font-size: 36px;
    line-height: 42px;
    flex-direction: column;
}

.textarea {
    border: none;
    resize: none;
    cursor: pointer;
    width: 1012px;
    height: 316px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}
.textarea textarea{
    width: 108%;
    height: 400px;
    border: 0;
    resize: none;
    padding: 20px;
    font-size: 24px;
    font-weight: 700;
    outline: none;
}
.textarea_footer {
    width: 1012px;
    /* margin: 10px auto 0; */
    font-weight: 400;
    font-size: 24px;
    line-height: 47px;
    text-align: right;
}


.textarea {
    width: 1012px;
    margin: 100px 0 50px 100px;

}



.send {
    text-align: center;
    height: 82px;
    width: 212px;
    box-shadow: 0px 3px 3px 1px rgb(165, 164, 164);
    background-color: rgb(241, 252, 247);
    margin: 20% auto;
    font-weight: 700;
    font-size: 36px;
    line-height: 82px;
}

/* view data table css */
.viewdatabotton {
    position: absolute;
    left: 46.88%;
    right: 46.88%;
    top: 72.96%;
    bottom: 22.13%;

    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.annotationofbotton {
    position: absolute;
    left: 39.11%;
    right: 39.11%;
    top: 77.87%;
    bottom: 17.31%;

    font-family: 'Arimo';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 52px;
    /* identical to box height */

    text-align: center;
    color: #000000;
}

/* safety threshold */
.pat_title {
    display: flex;
    font-size: 29px;
    align-items: center;
    margin: 20px;
    height: 170px;
    box-sizing: border-box;
}

.pat_a {
    font-weight: 600;
    padding: 20px;
    box-shadow: 0px 3px 3px 1px rgb(165, 164, 164);
    margin-left: 20px;
    background-color: rgb(213, 246, 230);
}

table {
    width: 100%;
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    line-height: 60px;
    height: calc(100% - 210px);
    margin-left: 80px;
}

.pat_b {
    width: 200px;
    margin: auto;
    font-weight: 600;
    box-shadow: 0px 3px 3px 1px rgb(165, 164, 164);
    background-color: rgb(213, 246, 230);

}

.pat_c {
    padding: 0 30px;
    margin: auto;
    font-weight: 600;
    box-shadow: 0px 3px 3px 1px rgb(165, 164, 164);
    background-color: rgb(213, 246, 230);
}

.tdd {
    height: 100%;
    display: flex;
    align-items: center;
    padding-right: 30px;
    font-size: 30px;
    font-weight: 600;
}

.tdd img {
    margin-left: 20px;
}

.pat_d {
    height: 50px;
    width: 300px;
    margin: auto;
    font-weight: 600;
    box-shadow: 0px 3px 3px 1px rgb(165, 164, 164);
    background-color: rgb(213, 246, 230);
}

/* list of clinical notes */
.ClinicalNote {
    margin-top: 34px;
    text-align: center;
    font-weight: 700;
    font-size: 50px;
    line-height: 59px;
}

.clinical_box2 {
    margin-top: 20px;
    margin-left: 100px;
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 36px;
    line-height: 42px;
}

.clinical_box {
    text-align: center;
    height: 50px;
    width: 400px;
    background: #D5F7E6;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
    margin: 20px 50px;
}

.list_of_notes {
    border: none;
    resize: none;
    cursor: pointer;
    width: 952px;
    height: 146px;
    font-weight: 600;
    font-size: 30px;
    line-height: 35px;
    margin-left: 100px;
    list-style: none;
}

.two_a {
    display: flex;
    align-items: center;
    margin-top: 50px;
    margin-left: 100px;
}

.two_aa {
    font-weight: 600;
    font-size: 30px;
    line-height: 35px;

}

.send {
    text-align: center;
    height: 82px;
    width: 212px;
    box-shadow: 0px 3px 3px 1px rgb(165, 164, 164);
    background-color: rgb(241, 252, 247);
    margin: 100px auto 0;
    font-weight: 700;
    font-size: 36px;
    line-height: 82px;

}

/* clinician view data css */
a {
    text-decoration: none;
}

.pviewdata-left {
    width: 200px;
    height: 600px;
}

.pviewdata-left div {
    width: 100%;
    height: 40px;
    color: #038DC7;
    font-size: 18px;
}

.pviewdata-section {
    display: flex;
}

.pviewdata-section .main {
    flex: 1;
}

/* Monitoring comment */
.tabBal {
    width: 100%;
    max-height: 800px;
    overflow: auto;
}

table .tt_a {
    font-weight: 600;
    font-size: 36px;
    line-height: 42px;
}

.comment {
    font-weight: 400;
    font-size: 30px;
    line-height: 38px;
}

.ranking-box {
    margin: 0 auto;
    font-size: 16px;
    margin: 100px;
    padding: 5% 15% 5%;
    width: auto;
    
}

.ranking-box .box-title {
    text-align: center;
    font-size: 34px;
    font-weight: 500;
}

.ranking-box .box-tip {
    font-style: italic;
    font-size: 22px;
    font-weight: 400;
    padding: 20px 0;
}

.ranking-box .box-tip .red {
    color: #ce2222;
    font-style: normal;
    font-weight: 500;
    
}

.rank {
    width: 200%;
    border: 15px solid #a4cbce;
    border-radius: 1em 1em;
    -webkit-border-radius: 1em 1em;
    -moz-border-radius: 1em 1em;
    -ms-border-radius: 1em 1em;
    -o-border-radius: 1em 1em;
    margin: 7% 15% 10%;

}

.rank-table {
    width: 100%;
}

.rank-thead {
    width: 100%;
    text-align: center;
    height: 100px;
    display: flex;
}

.rank-title {
    margin-top: 40px;
    color: #1b4e7e;
    height: 40px;
    margin-left: 95px;
    margin-right: 130px;
    /* border: 1px solid red; */
}

.rank-tbody {
    width: 100%;
    text-align: center;
}

.rank-user {
    width: 100%;
    height: 80px;
    float: left;
}

.rank-no {
    float: left;
    width: 25%;
    padding: 40px 0px;
}

.rank-name {
    float: left;
    width: 25%;
    padding: 20px 0px;
}

.rank-name>img {
    width: 20%;
}

.rank-name>span {
    display: block;
    width: 100%;
}

.rank-rate {
    float: left;
    width: 25%;
    padding: 40px 0px;
}

.rank-badge {
    float: left;
    width: 25%;
}

.rank-badge>img {
    width: 20%;
    padding: 30px 0px;
}




/* new */



.box_cosn {
    margin: 20px;
}

.content_abox .cont_aa {
    margin: 0px auto;
    width: 350px;
    text-align: center;
}

.content_abox .cont_bb>div {
    margin: 0px auto;
    width: 1000px;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    font-size: 25px;
}

.content_abox .cont_bb>div>div {
    display: flex;
    background-color: rgb(192, 231, 212);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
    align-items: center;
    border-radius: 30px;
    width: 300px;
    height: 40px;
    padding: 10px;
    margin: -30px auto;
}

.content_abox .cont_bb>div>div img {
    width: 40px;
    height: 40px;
}

.content_abox .cont_bb>div>div>div {
    margin-left: 20px;
}

.Ipt {
    width: 600px;
    text-align: center;
}

.Ipt input {
    width: 500px;
    height: 70px;
    font-weight: 400;
    font-size: 40px;
    line-height: 70px;
    color: #000000;
    border: none;

}

.golog {
    width: 500px;
    border: none;
    font-size: 40px;
    background-color: rgb(211, 243, 217);
    /* margin:20px auto; */
}

.int_csl {
    display: flex;
    justify-content: center
}



.title-data button {
    height: 30px;
    border: none;
    box-shadow: 0px 3px 3px 1px rgb(165 164 164);
    background-color: rgb(213, 246, 230);
    margin-left: 3%;
    margin-top: -6%;
}


/* new2 */



.home_aa2 {
    width: 300px;
    height: 300px;
}

.home_box1 {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.home_bb2 {
    width: 900px;
    margin: 20px auto;
    /* border: 1px solid red; */
}

.home_bb2>div {
    display: flex;
    width: 900px;
    justify-content: space-between;
}

.home_ab1 {
    margin-top: 50px;
}

.home_ab1>div {
    display: flex;
    background-color: rgb(192, 231, 212);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
    align-items: center;
    border-radius: 30px;
    width: 400px;
}

.changepwd {
    display: flex;
    width: 900px;
    align-items: center;
    justify-content: space-between;
}



/* new3 */

.welcom_log_a {
    width: 90%;
    display: block;
    margin: 100px auto 50px;
}

.webcome_text_bot {
    display: flex;
    justify-content: center;
}

.webcome_btn_bot {
    margin: 0 auto;
    width: 1000px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.webcome_btn_bot h4 {
    width: 500px;
    height: 70px;
    background: #C4F0E4;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
    padding: 3px 5px;
    margin-left: 20px;
    line-height: 70px;
}


.nav_wel {
    display: flex;
    justify-content: center;
    margin-top: -40px;
}

.nav_wel button {
    padding: 5px 2px;
    border: none;
    background: rgb(178,226,220);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 25px;
    margin: -30px 20px 0;
    border-radius: 3px;
}


.box_a1_dd{
    display: flex;
    /* border: 1px solid red; */
}

.box_a1_dd .mid{
    font-weight: 600;
}



.lable_tex{
    display: flex;
    color: #21609C;
    /* margin-top: 100px; */
    width: 70%;
    margin: 100px auto 0;
    justify-content: space-between;
}

.paragraph{
    margin-top: 100px;
}

.home_box1{
    /* border: 1px solid red; */
    display: block;
    width: 300px;
    margin: 10px auto;
    text-align: center;
}




.right_mg img{
    width: 50px;
    height: 50px;
}

.ranl_cont_a{
    display: flex;
    padding: 20px;
}

.ranl_cont_a >div>div{
    height: 100px;
    margin-left: 80px;
    margin-right: 110px;
}

.rank_tilimg{
    text-align: center;
}
.rank_tilimg img{
    display: block;
    margin:  0 auto;
}
.rank_tilimg >div{
    margin-top: 10px;
}



.box_left{
    height: 100%;
    width: 90px;
    background-color: rgb(178,226,220);
    position: fixed;
    top: 60px;
}


.box_ad1231{
    display: flex;
    justify-content: center;
}

.nav_box_a{
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
}

.nav_box_a button{
 border: none;
 background-color: rgb(178,226,220);
 font-size: 20px;
 margin: 20px;
 padding: 10px;
 border-radius: 5px;
 box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


.dicaa_a{
    /* display: ; */
    display: flex;
    justify-content: center;
}

.dicaa_a button{
    border: none;
    background-color: rgb(178,226,220);
    font-size: 20px;
    margin: 20px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}



.sty_a a{
    font-size: 20px;
}


.spass_abox > div{
        display: flex;
        
}

.oldpwd_a >div{
    display: flex;
    text-align: center;
    justify-content: right;
    width: 900px;
    font-size: 25px;
    margin-top: 40px;
    
}
.oldpwd_a input{
    font-size: 25px;
    height: 60px;
}

.tagb_a_b{
    width:  90%;
    display: flex;
    justify-content: center;
    margin-top: 0;
}
.tagb_a_b .tt_ab{
    text-align: center;
    
}
.tagb_a_b .tt_ab td{
    background-color: rgb(156,217,222) !important;
}

.btn_dasd1{
    background-color: rgb(192,231,212);
    border: none;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 40%);
    margin-top: 20px;
    padding: 5px 10px;
    border-radius:5px ;
}


/* common table style */

.table-without-border table {
	width: 90%;
	text-align: center;
	border: 0px solid black;
	border-collapse: collapse;
    margin-top: 80px;
}

.table-without-border table tbody {
	display: block;
	height: 600px;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}


.table-without-border table tbody::-webkit-scrollbar {
	display: none;
}


.table-without-border table thead,
.table-without-border tbody tr {
	display: table;
	width: 100%;
	table-layout: fixed;
}

.table-without-border table thead th {
	background: #aad7dd;
	border-left: 1px solid black;
	border-top: 1px solid transparent;
}

.table-without-border table thead th:first-child {
	border-left: 1px solid transparent;
}

.table-without-border table thead th:last-child {
	border-right: 1px solid transparent;
}

.table-without-border table tr td {
	border: 1px solid black;
	border-top: 0;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
	border-left: 0;
	background-color: #e7f8ee;
}

.table-without-border table tr td:first-child{
	border-left: 1px solid transparent;
}
.table-without-border table tr td:last-child {
	border-right: 1px solid transparent;
}

/* threshold input:radio style */
.checkbox01{
    float: left;
    width: 45%;
}
.checkbox01 input[type=radio] + label::before {
    content: "\a0";  
    display: inline-block;
    vertical-align: 2px;
    width: 11px;
    height: 11px;
    margin-right: 5px;
    border-radius: 50%; 
    /* background-color: #261c19; */
    border: 1px solid #649dad;
    text-indent: 2px;
    line-height: .65;  
    padding: 3px;
}
.checkbox01 input[type="radio"]:checked + label::before {
    background-color: #649dad; 
    padding: 3px;
    background-clip: content-box;
}
.checkbox01 input[type='radio'] {
    position: absolute;
    clip:rect(0,0,0,0);    
}

/* threshold min & max input style */

.threshold_min_max{
    outline: none;
    width: 50px;
    height: 40px;
    border: 0;
    background-color: #A5E0D5;
    box-shadow: 1px 2px 2px #ccc;
}
.threshold_min_max{
    font-size: 18px;
    font-weight: 700;
    text-align: center;
}
.threshold_last_td{
    display: flex;
}
.threshold_min{
    flex: 1;
}
.threshold_max{
    flex: 1;
}

/* clincian note style */

.clin_note_form{
    margin-left: 100px;
}

.list_of_notes_date{
    
    float: left;
    width: 26%;
    height: 60px;
    line-height: 60px;
    text-align: center;
    vertical-align: middle;
    margin-top: 30px;
}

.list_of_notes_detail{
    float: left;
    margin-left: 30px;
    width: 65%;
    height: 90px;
    background-color: white;
    padding: 20px;
}